{% extends "layout.html" %}

{% block title %}
    Change your password
{% endblock %}

{% block main %}

    <div class="m-3">
        <h2 class="mb-4">Change your password</h2>

        <form action="change-password" method="post">

            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto"
                    name="current" placeholder="Current password" type="password">
            </div>

            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="new"
                    placeholder="New password" type="password">
            </div>

            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirm"
                    placeholder="Confirm new password" type="password">
            </div>
            
            <button class="btn btn-primary" type="submit">Change password</button>

        </form>
    </div>

{% endblock %}